.orange{
    background-color: orange;
    height: 50px;
    margin: 0.75%;
}
.greenYellow{
    background-color: yellowgreen;
    margin: 0.75%;
}
.blue{
    background-color: blue;
    margin: 0.75%;
}
.grey{
    background-color: grey;
    margin: 0.75%;
}

/*MEDIDA DE PANTALLA MENOR O IGUAL A 320PX - FORMATO MOBILE*/
@media (width <= 320px) {
    .greenYellow{
        height: 70px;
    }
    & .blue{
        height: 120px;
    }
    & .grey{
        height: 80px;
    }
}

/*MEDIDA DE PANTALLA A 768PX- FORMATO TABLET*/
@media (width > 320px) and (width < 1024px){
    .greenYellow{
        height: 150px;
    }
    & .blue{
        height: 170px;
    }
    & .grey{
        width: 48%;
        height: 90px;
        display: inline-block;
    }
}

/*MEDIDA DE PANTALLA MAYOR O IGUAL A 1024 - FORMATO ORDENADOR*/
@media (width >= 1024px) {
    .orange{
        width: 50%;
        height: 70px;
    }
    & .contenedorOrange{
        display: flex;
        flex-direction: row;
    }
    & .greenYellow{
        height: 300px;
    }
    & .blue{
        width: 33%;
        height: 150px;
    }
    & .contenedorBlue {
        display: flex;
        flex-direction: row;
    }
    & .grey{
        width: 25%;
        height: 150px;
    }
    & .contenedorGrey {
        display: flex;
        flex-direction: row;
    }
}